* {
  font-weight: bold;
}
.form {
  background-color: rgb(26, 228, 26);
  width: 65%;
  margin-left: 7%;
  border: 4px #ddd solid;
}
.h3 {
  margin-left: 60%;
}
.div {
  margin-left: 50%;
}
input::placeholder {
  color: black;
  font-weight: bold;
}
.inn {
  margin-left: 49px;
}
.in::placeholder {
  font-size: 30px;
}
button {
  border: 1px solid black;
  font-weight: initial;
  margin-bottom: 10px;
  border-radius: 3px;
}
